__pycache__/
*.py[cod]

build/
dist/
*.egg-info/

venv/
.venv/
env/
gaienv/

.tox/
.coverage
.pytest_cache/

.idea/
.vscode/

.DS_Store
Thumbs.db

.env
*.env

backEnd/scoringHistory.sqlite
backEnd/db/
backEnd/tokenUsed.txt
backEnd/attachments/
vectorstores/
